<% include partials/header %>
    <h1>you fell in love with : <%= animalVar.toUpperCase(); %></h1>

    <!-- every js code line cover with <% %> -->
    <% if(animalVar.toLowerCase() === "dog"){ %>
        <p> dog is good choice! </p>
    <% } %>
    
    <% include partials/footer %>