<% include partials/header %>
    <h1>POSTS</h1>
    <ul>
    <% posts.forEach(element => { %>
    <li> <%= element.title %> written by <%=element.auther%></li>
    <%   }); %>
    </ul>
    
<% include partials/footer %>